.cartBlock {
	.wrapper {
		display: flex;
		align-items: flex-start;
	}

	.cartRow {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		row-gap: 15px;
	}

	.sidebar {
		height: 200px;
		border: 1px solid #242424;
		border-radius: 10px;
		padding: 20px;
		h3 {
			font-family: 'Nunito', sans-serif;
			font-weight: 700;
			margin-bottom: 20px;
		}
		button {
			margin-top: 10px;
			background-color: #242424;
			color: #fff;
			border-radius: 5px;
			width: 120px;
			height: 30px;
		}
	}
}
