.cardCatalog {
	max-width: 350px;

	.cardImg {
		width: 350px;
		aspect-ratio: 1;
	}

	.content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px 5px;

		.title {
			font-weight: 700;
			color: #242424;
			font-size: 22px;
		}
		.price {
			font-family: 'Nunito', sans-serif;
			justify-self: flex-end;
			font-weight: 500;
		}

		.available {
			font-weight: 700;
			color: rgb(77, 206, 77);
			font-family: 'Nunito';
		}
		.inavailable {
			font-weight: 700;
			color: rgb(236, 44, 44);
			font-family: 'Nunito';
		}

		.button {
			justify-self: flex-end;
			background-color: #242424;
			color: #fff;
			width: 100px;
			height: 40px;
			border-radius: 10px;
			border: 1px solid transparent;

			&:not(:disabled):active {
				transform: scale(0.95);
			}

			&:disabled {
				opacity: 0.4;
				cursor: default;
				background-color: transparent;
				color: #242424;
				border-color: #242424;
			}
		}
	}
}
