.cartItem {
	border-radius: 10px;
	padding: 20px;
	max-width: 850px;
	img {
		width: 250px;
	}

	&Top {
		display: flex;
		flex-direction: column-reverse;
	}

	// text-align: center;

	.cartItemContent {
		align-items: center;

		.itemTitle {
			font-size: 24px;
			font-weight: 600;
			font-family: 'Nunito', sans-serif;
			margin-bottom: 5px;
		}
		.itemPrice {
			font-family: 'Nunito', sans-serif;
			margin-bottom: 20px;
		}

		.itemCount {
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 10px;

			span {
				font-size: 25px;
				font-weight: 600;
			}
			.minusBtn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				border: 1px solid #242424;
				border-radius: 50%;

				&:not(:disabled):active {
					transform: scale(0.95);
				}
				&:disabled {
					cursor: default;
				}
			}

			.plusBtn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				border: 1px solid transparent;
				background-color: #242424;
				color: #fff;
				border-radius: 50%;
				transition: background-color 0.3s ease;

				&:hover {
					background-color: transparent;
					border-color: #242424;
					color: #242424;
				}

				&:active {
					transform: scale(0.95);
				}
			}
		}
	}
}
